In [1]:
!pip install pymongo

Collecting pymongo
  Obtaining dependency information for pymongo from https://files.pythonhosted.org/packages/7a/88/a6b3661960518dbc656b67fefb85efff874d58ba0f3c31bda216d5726a02/pymongo-4.5.0-cp310-cp310-win_amd64.whl.metadata
  Downloading pymongo-4.5.0-cp310-cp310-win_amd64.whl.metadata (22 kB)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\engrp\appdata\local\programs\python\python310\lib\site-packages (from pymongo) (2.2.1)
Downloading pymongo-4.5.0-cp310-cp310-win_amd64.whl (468 kB)
   -------------------------------------- 468.2/468.2 kB 523.4 kB/s eta 0:00:00
Installing collected packages: pymongo
Successfully installed pymongo-4.5.0

In [2]:
import pymongo

In [8]:
new_client = pymongo.MongoClient('mongodb://localhost:27017')

new_db = new_client['data_test']

new_col = new_db['students']

new_dict = {"name": "Virat Kohli", "code": "code01"}

adding = new_col.insert_one(new_dict)

print(adding.inserted_id)

64e859ca9f69cc4dc57ee245

# Adding multiple documents

In [10]:
import pymongo 

new_Client = pymongo.MongoClient('mongodb://localhost:27017')

new_col = new_db['players']

lsit_of_players = [
    {"name": "M. Amir", "code":"code01"},
    {"name": "ABD Villiars", "code":"code02"},
    {"name": "CH Gayle", "code":"code03"},
    {"name": "MS Dhoni", "code":"code04"},
    {"name": "Umer Gul", "code":"code05"},
    {"name": "Mitchle Starc", "code":"code06"},
    {"name": "Babar", "code":"code07"}
]

adding_many = new_col.insert_many(lsit_of_players)

print(adding_many.inserted_ids)

[ObjectId('64e85c0a9f69cc4dc57ee248'), ObjectId('64e85c0a9f69cc4dc57ee249'), ObjectId('64e85c0a9f69cc4dc57ee24a'), ObjectId('64e85c0a9f69cc4dc57ee24b'), ObjectId('64e85c0a9f69cc4dc57ee24c'), ObjectId('64e85c0a9f69cc4dc57ee24d'), ObjectId('64e85c0a9f69cc4dc57ee24e')]

# Insert ID's manually

In [11]:
import pymongo 

new_Client = pymongo.MongoClient('mongodb://localhost:27017')

new_col = new_db['new_students']

lsit_of_students = [
    {"_id": 1, "name": "Wajid", "code":"code01"},
    {"_id": 2, "name": "Muazam", "code":"code02"},
    {"_id": 3, "name": "Pardeep", "code":"code03"},
    {"_id": 4, "name": "Mukesh", "code":"code04"},
    {"_id": 5, "name": "Anand", "code":"code05"},
    {"_id": 6, "name": "Hitesh", "code":"code06"},
    {"_id": 7, "name": "Arsam", "code":"code07"}
]

adding_many = new_col.insert_many(lsit_of_students)

print(adding_many.inserted_ids)

[1, 2, 3, 4, 5, 6, 7]

# Fetching data from our collections

In [12]:
finding = new_col.find_one()
print(finding)

{'_id': 1, 'name': 'Wajid', 'code': 'code01'}

In [13]:
for doc in new_col.find():
    print(doc)

{'_id': 1, 'name': 'Wajid', 'code': 'code01'}
{'_id': 2, 'name': 'Muazam', 'code': 'code02'}
{'_id': 3, 'name': 'Pardeep', 'code': 'code03'}
{'_id': 4, 'name': 'Mukesh', 'code': 'code04'}
{'_id': 5, 'name': 'Anand', 'code': 'code05'}
{'_id': 6, 'name': 'Hitesh', 'code': 'code06'}
{'_id': 7, 'name': 'Arsam', 'code': 'code07'}

# Fetching specified data

In [14]:
import pymongo

new_client = pymongo.MongoClient('mongodb://localhost:27017')

new_db = new_client['data_test']

new_col = new_db['new_students']

new_query = {"code" : "code01"}

new_doc = new_col.find(new_query)

for i in new_doc:
    print(i)

{'_id': 1, 'name': 'Wajid', 'code': 'code01'}

In [15]:
import pymongo

new_client = pymongo.MongoClient('mongodb://localhost:27017')

new_db = new_client['data_test']

new_col = new_db['new_students']

new_query = {"code" : {"$gt": "code"} }

new_doc = new_col.find(new_query)

for i in new_doc:
    print(i)

{'_id': 1, 'name': 'Wajid', 'code': 'code01'}
{'_id': 2, 'name': 'Muazam', 'code': 'code02'}
{'_id': 3, 'name': 'Pardeep', 'code': 'code03'}
{'_id': 4, 'name': 'Mukesh', 'code': 'code04'}
{'_id': 5, 'name': 'Anand', 'code': 'code05'}
{'_id': 6, 'name': 'Hitesh', 'code': 'code06'}
{'_id': 7, 'name': 'Arsam', 'code': 'code07'}

# Sorting the data

In [16]:
new_query = new_col.find().sort("name")

for i in new_query:
    print(i)

{'_id': 5, 'name': 'Anand', 'code': 'code05'}
{'_id': 7, 'name': 'Arsam', 'code': 'code07'}
{'_id': 6, 'name': 'Hitesh', 'code': 'code06'}
{'_id': 2, 'name': 'Muazam', 'code': 'code02'}
{'_id': 4, 'name': 'Mukesh', 'code': 'code04'}
{'_id': 3, 'name': 'Pardeep', 'code': 'code03'}
{'_id': 1, 'name': 'Wajid', 'code': 'code01'}

In [17]:
new_query = new_col.find().sort("name", -1)

for i in new_query:
    print(i)

{'_id': 1, 'name': 'Wajid', 'code': 'code01'}
{'_id': 3, 'name': 'Pardeep', 'code': 'code03'}
{'_id': 4, 'name': 'Mukesh', 'code': 'code04'}
{'_id': 2, 'name': 'Muazam', 'code': 'code02'}
{'_id': 6, 'name': 'Hitesh', 'code': 'code06'}
{'_id': 7, 'name': 'Arsam', 'code': 'code07'}
{'_id': 5, 'name': 'Anand', 'code': 'code05'}

# Deleting Documents

In [18]:
new_query = {"code": "code01"}

new_col.delete_one(new_query)

for x in new_col.find():
    print(x)

{'_id': 2, 'name': 'Muazam', 'code': 'code02'}
{'_id': 3, 'name': 'Pardeep', 'code': 'code03'}
{'_id': 4, 'name': 'Mukesh', 'code': 'code04'}
{'_id': 5, 'name': 'Anand', 'code': 'code05'}
{'_id': 6, 'name': 'Hitesh', 'code': 'code06'}
{'_id': 7, 'name': 'Arsam', 'code': 'code07'}

In [20]:
new_query = {"name": {"$regex": "^code03"}}

x = new_col.delete_many(new_query)

print(x.deleted_count, "documents deletd from collection!")

for i in new_col.find():
    print(i)

0 documents deletd from collection!
{'_id': 2, 'name': 'Muazam', 'code': 'code02'}
{'_id': 3, 'name': 'Pardeep', 'code': 'code03'}
{'_id': 4, 'name': 'Mukesh', 'code': 'code04'}
{'_id': 5, 'name': 'Anand', 'code': 'code05'}
{'_id': 6, 'name': 'Hitesh', 'code': 'code06'}
{'_id': 7, 'name': 'Arsam', 'code': 'code07'}

In [21]:
new_query = {"code": {"$regex": "^code03"}}

x = new_col.delete_many(new_query)

print(x.deleted_count, "documents deletd from collection!")

for i in new_col.find():
    print(i)

1 documents deletd from collection!
{'_id': 2, 'name': 'Muazam', 'code': 'code02'}
{'_id': 4, 'name': 'Mukesh', 'code': 'code04'}
{'_id': 5, 'name': 'Anand', 'code': 'code05'}
{'_id': 6, 'name': 'Hitesh', 'code': 'code06'}
{'_id': 7, 'name': 'Arsam', 'code': 'code07'}

In [22]:
remove_all = new_col.delete_many({})

print(remove_all.deleted_count, "documents deletd from collection!")

5 documents deletd from collection!

# Droping the collection

In [23]:
new_col.drop()

# Updating the documents

In [24]:
import pymongo 

new_Client = pymongo.MongoClient('mongodb://localhost:27017')

new_col = new_db['new_students']

lsit_of_students = [
    {"_id": 1, "name": "Wajid", "code":"code00"},
    {"_id": 2, "name": "Muazam", "code":"code01"},
    {"_id": 3, "name": "Pardeep", "code":"code02"},
    {"_id": 4, "name": "Mukesh", "code":"code03"},
    {"_id": 5, "name": "Anand", "code":"code04"},
    {"_id": 6, "name": "Hitesh", "code":"code05"},
    {"_id": 7, "name": "Arsam", "code":"code06"}
]

adding_many = new_col.insert_many(lsit_of_students)

In [25]:
new_query = {"code": "code00"}
new_vals = {"$set": {"code": "codeZero"}}

new_col.update_one(new_query, new_vals)

for i in new_col.find():
    print(i)

{'_id': 1, 'name': 'Wajid', 'code': 'codeZero'}
{'_id': 2, 'name': 'Muazam', 'code': 'code01'}
{'_id': 3, 'name': 'Pardeep', 'code': 'code02'}
{'_id': 4, 'name': 'Mukesh', 'code': 'code03'}
{'_id': 5, 'name': 'Anand', 'code': 'code04'}
{'_id': 6, 'name': 'Hitesh', 'code': 'code05'}
{'_id': 7, 'name': 'Arsam', 'code': 'code06'}

In [26]:
result_filter = new_col.find().limit(3)

for i in result_filter:
    print(i)

{'_id': 1, 'name': 'Wajid', 'code': 'codeZero'}
{'_id': 2, 'name': 'Muazam', 'code': 'code01'}
{'_id': 3, 'name': 'Pardeep', 'code': 'code02'}

In [27]:
result_filter = new_col.find().limit(4)

for i in result_filter:
    print(i)

{'_id': 1, 'name': 'Wajid', 'code': 'codeZero'}
{'_id': 2, 'name': 'Muazam', 'code': 'code01'}
{'_id': 3, 'name': 'Pardeep', 'code': 'code02'}
{'_id': 4, 'name': 'Mukesh', 'code': 'code03'}