In [5]:
!pip install mysql-connector-python-rf

Collecting mysql-connector-python-rf
  Downloading mysql-connector-python-rf-2.2.2.tar.gz (11.9 MB)
     -------------------------------------- 11.9/11.9 MB 101.3 kB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: mysql-connector-python-rf
  Building wheel for mysql-connector-python-rf (setup.py): started
  Building wheel for mysql-connector-python-rf (setup.py): finished with status 'done'
  Created wheel for mysql-connector-python-rf: filename=mysql_connector_python_rf-2.2.2-cp310-cp310-win_amd64.whl size=249453 sha256=97459b6d7126fae374e508f5cc6722e4dced5a2358d15778111a69cf2dbe5e2d
  Stored in directory: c:\users\engrp\appdata\local\pip\cache\wheels\6e\7d\63\f1e829bfbd126cd52625ed99c60ae9f09f52c7b6a76dec070c
Successfully built mysql-connector-python-rf
Installing collected packages: mysql-connector-python-rf
Successfully installed mysql-connector-python-rf-2.2.2

In [8]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "M@psa#926"
)

print(new_db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001B6712CF370>

# Creating a Database

In [16]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "M@psa#926"
)

print(new_db)

new_cursor = new_db.cursor()

# new_cursor.execute("CREATE DATABASE myData")



new_cursor.execute("SHOW DATABASES")

for db in new_cursor:
    print(db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001B67368BEB0>
('information_schema',)
('mydata',)
('mysql',)
('pawandb',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

# Checking Database exist or not

In [18]:
# new_cursor.execute("SHOW DATABASES")

# for db in new_cursor:
#     print(db)
    
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "M@psa#926",
    database = 'mydata'
)

# Creating Tables & Showing Data

In [19]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "M@psa#926",
    database = 'mydata'
)


new_cursor = new_db.cursor()

new_cursor.execute("CREATE TABLE students (name VARCHAR(255), code VARCHAR(255))")

# List all tables in mydata database

In [20]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "M@psa#926",
    database = 'mydata'
)


new_cursor = new_db.cursor()

new_cursor.execute("SHOW TABLES")

for x in new_cursor:
    print(x)

('students',)

# Add PRIMARY KEY when creating table

In [21]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "M@psa#926",
    database = 'mydata'
)


new_cursor = new_db.cursor()
new_cursor.execute("CREATE TABLE clients (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), code VARCHAR(255))")

# Add PRIMARY KEY if table already exists

In [22]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "M@psa#926",
    database = 'mydata'
)


new_cursor = new_db.cursor()
new_cursor.execute("ALTER TABLE students ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

# Inserting Data into tables

In [38]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "M@psa#926",
    database = 'mydata'
)


new_cursor = new_db.cursor()

new_sql = "INSERT INTO students (name, code) VALUES (%s, %s)"
new_vals = ("Virat", "code01")

new_cursor.execute(new_sql, new_vals)

new_db.commit()

print(new_cursor.rowcount, "new record inserted")

1 new record inserted

# Inserting Multiple Records into tables

In [39]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "M@psa#926",
    database = 'mydata'
)


new_cursor = new_db.cursor()

new_sql = "INSERT INTO students (name, code) VALUES (%s, %s)"
new_vals = [
    ("Amir", "code02"),
    ("Babar", "code03"),
    ("Naseem", "code04"),
    ("CH Gayle", "code05")
]

new_cursor.executemany(new_sql, new_vals)

new_db.commit()

print(new_cursor.rowcount, "new record inserted")

4 new record inserted

# Select Table's data

In [40]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "M@psa#926",
    database = 'mydata'
)


new_cursor = new_db.cursor()

new_cursor.execute("SELECT * FROM students")

new_data = new_cursor.fetchall()

for i in new_data:
    print(i)

('Virat', 'code01', 1)
('Amir', 'code02', 2)
('Naseem', 'code04', 4)
('CH Gayle', 'code05', 5)
('Virat', 'code01', 6)
('Amir', 'code02', 7)
('Naseem', 'code04', 9)
('CH Gayle', 'code05', 10)
('Virat', 'code01', 11)
('Amir', 'code02', 12)
('Babar', 'code03', 13)
('Naseem', 'code04', 14)
('CH Gayle', 'code05', 15)

# Select Columns

In [41]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "M@psa#926",
    database = 'mydata'
)


new_cursor = new_db.cursor()

new_cursor.execute("SELECT name, code from students")

new_data = new_cursor.fetchall()

for i in new_data:
    print(i)

('Virat', 'code01')
('Amir', 'code02')
('Naseem', 'code04')
('CH Gayle', 'code05')
('Virat', 'code01')
('Amir', 'code02')
('Naseem', 'code04')
('CH Gayle', 'code05')
('Virat', 'code01')
('Amir', 'code02')
('Babar', 'code03')
('Naseem', 'code04')
('CH Gayle', 'code05')

In [42]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "M@psa#926",
    database = 'mydata'
)


new_cursor = new_db.cursor()

new_cursor.execute("SELECT name from students")

new_data = new_cursor.fetchall()

for i in new_data:
    print(i)

('Virat',)
('Amir',)
('Naseem',)
('CH Gayle',)
('Virat',)
('Amir',)
('Naseem',)
('CH Gayle',)
('Virat',)
('Amir',)
('Babar',)
('Naseem',)
('CH Gayle',)

# Select single record

In [43]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "M@psa#926",
    database = 'mydata'
)


new_cursor = new_db.cursor()

new_cursor.execute("SELECT name, code from students")

new_data = new_cursor.fetchone()

print(new_data)

('Virat', 'code01')

In [44]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "M@psa#926",
    database = 'mydata'
)


new_cursor = new_db.cursor()

new_cursor.execute("SELECT * from students")

new_data = new_cursor.fetchone()

print(new_data)

('Virat', 'code01', 1)

# Filter the result

In [45]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "M@psa#926",
    database = 'mydata'
)


new_cursor = new_db.cursor()

new_sql = "SELECT * from students where name = 'CH Gayle'"

new_cursor.execute(new_sql)

new_data = new_cursor.fetchall()

for i in new_data:
    print(i)

('CH Gayle', 'code05', 5)
('CH Gayle', 'code05', 10)
('CH Gayle', 'code05', 15)

In [46]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "M@psa#926",
    database = 'mydata'
)


new_cursor = new_db.cursor()

new_sql = "SELECT * from students where name = 'Virat'"

new_cursor.execute(new_sql)

new_data = new_cursor.fetchall()

for i in new_data:
    print(i)

('Virat', 'code01', 1)
('Virat', 'code01', 6)
('Virat', 'code01', 11)

In [47]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "M@psa#926",
    database = 'mydata'
)


new_cursor = new_db.cursor()

new_sql = "SELECT * from students where code = 'code02'"

new_cursor.execute(new_sql)

new_data = new_cursor.fetchall()

for i in new_data:
    print(i)

('Amir', 'code02', 2)
('Amir', 'code02', 7)
('Amir', 'code02', 12)

# Wild Card Characters (*%*)

In [48]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "M@psa#926",
    database = 'mydata'
)


new_cursor = new_db.cursor()

new_sql = "SELECT * from students where name like 'Virat'"

new_cursor.execute(new_sql)

new_data = new_cursor.fetchall()

for i in new_data:
    print(i)

('Virat', 'code01', 1)
('Virat', 'code01', 6)
('Virat', 'code01', 11)

# Sorting the results

In [49]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "M@psa#926",
    database = 'mydata'
)


new_cursor = new_db.cursor()

new_sql = "SELECT * from students ORDER BY name"

new_cursor.execute(new_sql)

new_data = new_cursor.fetchall()

for i in new_data:
    print(i)

('Amir', 'code02', 2)
('Amir', 'code02', 7)
('Amir', 'code02', 12)
('Babar', 'code03', 13)
('CH Gayle', 'code05', 5)
('CH Gayle', 'code05', 10)
('CH Gayle', 'code05', 15)
('Naseem', 'code04', 4)
('Naseem', 'code04', 9)
('Naseem', 'code04', 14)
('Virat', 'code01', 1)
('Virat', 'code01', 6)
('Virat', 'code01', 11)

In [50]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "M@psa#926",
    database = 'mydata'
)


new_cursor = new_db.cursor()

new_sql = "SELECT * from students ORDER BY code DESC"

new_cursor.execute(new_sql)

new_data = new_cursor.fetchall()

for i in new_data:
    print(i)

('CH Gayle', 'code05', 5)
('CH Gayle', 'code05', 10)
('CH Gayle', 'code05', 15)
('Naseem', 'code04', 4)
('Naseem', 'code04', 9)
('Naseem', 'code04', 14)
('Babar', 'code03', 13)
('Amir', 'code02', 2)
('Amir', 'code02', 7)
('Amir', 'code02', 12)
('Virat', 'code01', 1)
('Virat', 'code01', 6)
('Virat', 'code01', 11)

# Deleting Records and Preventing SQL Injections

In [51]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "M@psa#926",
    database = 'mydata'
)


new_cursor = new_db.cursor()

# prevent SQL injections
new_sql = "DELETE FROM students WHERE name = %s"
name = ('Babar',)

new_cursor.execute(new_sql, name)

new_db.commit()

print(new_cursor.rowcount, "records deleted from new data")

1 records deleted from new data

# Deleting table

In [52]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "M@psa#926",
    database = 'mydata'
)


new_cursor = new_db.cursor()

new_sql = "DROP TABLE clients"

new_cursor.execute(new_sql)

In [53]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "M@psa#926",
    database = 'mydata'
)


new_cursor = new_db.cursor()

new_sql = "DROP TABLE IF EXISTS clients"

new_cursor.execute(new_sql)

# Updating table

In [54]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "M@psa#926",
    database = 'mydata'
)


new_cursor = new_db.cursor()

new_sql = "UPDATE students SET code = 'code08' WHERE code='code01'"

new_cursor.execute(new_sql)

new_db.commit()

print(new_cursor.rowcount, "records changed in students table")

3 records changed in students table

## To prevent SQL Injections use below technique

In [58]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "M@psa#926",
    database = 'mydata'
)


new_cursor = new_db.cursor()

new_sql = "UPDATE students SET code = %s WHERE code = %s"

new_vals = ("code10", "code02")

new_cursor.execute(new_sql, new_vals)

new_db.commit()

print(new_cursor.rowcount, "records changed in students table")

3 records changed in students table

# Limit the records

In [63]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "M@psa#926",
    database = 'mydata'
)


new_cursor = new_db.cursor()

new_sql = "SELECT * from students LIMIT 5"

new_cursor.execute(new_sql)

new_data = new_cursor.fetchall()

for i in new_data:
    print(i)

('Virat', 'code08', 1)
('Amir', 'code10', 2)
('Naseem', 'code04', 4)
('CH Gayle', 'code05', 5)
('Virat', 'code08', 6)

In [64]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "M@psa#926",
    database = 'mydata'
)


new_cursor = new_db.cursor()

# We have select 3 records after the record no: 4
new_sql = "SELECT * from students LIMIT 3 OFFSET 4"

new_cursor.execute(new_sql)

new_data = new_cursor.fetchall()

for i in new_data:
    print(i)

('Virat', 'code08', 6)
('Amir', 'code10', 7)
('Naseem', 'code04', 9)