In [2]:
import sqlite3

new_connection = sqlite3.connect("data_testing.db")

In [3]:
type(new_connection)

sqlite3.Connection

In [4]:
print(type(new_connection))

<class 'sqlite3.Connection'>

In [5]:
new_cursor = new_connection.cursor()
print(type(new_cursor))

<class 'sqlite3.Cursor'>

In [6]:
new_sql = "SELECT datetime('now', 'localtime');"

In [7]:
new_cursor.execute(new_sql)

In [8]:
new_cursor.fetchone()

('2023-08-25 00:40:23',)

In [9]:
new_dtime = new_cursor.execute(new_sql).fetchone()[0]

In [10]:
print(new_dtime)

2023-08-25 00:41:57

In [11]:
new_connection.close()

In [12]:
with sqlite3.connect('data_testing.db') as new_connection:
    new_cursor = new_connection.cursor()
    new_sql = "SELECT datetime('now', 'localtime');"
    new_dtime = new_cursor.execute(new_sql).fetchone()[0]

In [13]:
print(new_dtime)

2023-08-25 00:45:11

 # Create table with values

In [24]:
import sqlite3

new_connection = sqlite3.connect('data_testing.db')
new_cursor = new_connection.cursor()

new_cursor.execute("CREATE TABLE clients(Name TEXT, Number INT);")

new_cursor.execute("INSERT INTO clients VALUES('Dany', 2030)")

new_connection.commit()
new_connection.close()

In [25]:
new_connection = sqlite3.connect('data_testing.db')
new_cursor = new_connection.cursor()

new_cursor.execute("SELECT * FROM clients")

In [26]:
new_cursor.fetchone()

data = new_cursor.fetchall()
for i in data:
    print(i)

('Dany', 2030)

In [27]:
new_cursor.execute("DROP TABLE clients")

In [28]:
new_connection.commit()

# Full program to fecth all data from data_testing

In [29]:
import sqlite3

new_values = (
    ("Ronaldo", 7),
    ("Messi", 38),
    ("Salah", 11),
)
with sqlite3.connect("data_testing.db") as new_connection:
    new_cursor = new_connection.cursor()
    new_cursor.execute("DROP TABLE IF EXISTS clients")
    new_cursor.execute("CREATE TABLE clients (Name TEXT, Number INT);")
    
    new_cursor.executemany("INSERT INTO clients VALUES (?, ?)", new_values)
    
    new_cursor.execute("SELECT Name, Number FROM clients WHERE Number> 7;")
    
    for x in new_cursor.fetchall():
        print(x)

('Messi', 38)
('Salah', 11)