In [7]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "M@psa#926",
    database = 'homework'
)

new_cursor = new_db.cursor()

new_cursor.execute("CREATE TABLE orders (OrderID INT, OrderDate DATE, Qty INT, CustomerID INT, Productcategory VARCHAR(255), Price INT)")

In [23]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "M@psa#926",
    database = 'homework'
)

new_cursor = new_db.cursor()

new_cursor.execute("INSERT INTO orders (OrderID, OrderDate, Qty, CustomerID, Productcategory, Price) VALUES (1, '2023-01-01', 2, 10, 'Electronics', 110)")

print(new_cursor.rowcount, "Rows inserted")

new_db.commit()

1 Rows inserted

In [25]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "M@psa#926",
    database = 'homework'
)

new_cursor = new_db.cursor()

new_cursor.execute("""
    INSERT INTO orders (OrderID, OrderDate, Qty, CustomerID, Productcategory, Price) 
    VALUES 
    (2, '2023-01-01', 2, 11, 'Home', 10),
    (3, '2023-01-01', 2, 11, 'Kitchen', 80),
    (4, '2023-01-01', 2, 12, 'Electronics', 11),
    (5, '2023-01-01', 2, 12, 'Outdoor', 19),
    (6, '2023-01-01', 2, 13, 'Outdoor', 217),
    (7, '2023-01-01', 2, 13, 'Home', 8)
""")

print(new_cursor.rowcount, "Rows inserted")

new_db.commit()

6 Rows inserted

In [26]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "M@psa#926",
    database = 'homework'
)


new_cursor = new_db.cursor()

new_cursor.execute("SELECT * FROM orders")

new_data = new_cursor.fetchall()

print(new_data)
for i in new_data:
    print(i)

[(1, datetime.date(2023, 1, 1), 2, 10, 'Electronics', 110), (2, datetime.date(2023, 1, 1), 2, 11, 'Home', 10), (3, datetime.date(2023, 1, 1), 2, 11, 'Kitchen', 80), (4, datetime.date(2023, 1, 1), 2, 12, 'Electronics', 11), (5, datetime.date(2023, 1, 1), 2, 12, 'Outdoor', 19), (6, datetime.date(2023, 1, 1), 2, 13, 'Outdoor', 217), (7, datetime.date(2023, 1, 1), 2, 13, 'Home', 8)]
(1, datetime.date(2023, 1, 1), 2, 10, 'Electronics', 110)
(2, datetime.date(2023, 1, 1), 2, 11, 'Home', 10)
(3, datetime.date(2023, 1, 1), 2, 11, 'Kitchen', 80)
(4, datetime.date(2023, 1, 1), 2, 12, 'Electronics', 11)
(5, datetime.date(2023, 1, 1), 2, 12, 'Outdoor', 19)
(6, datetime.date(2023, 1, 1), 2, 13, 'Outdoor', 217)
(7, datetime.date(2023, 1, 1), 2, 13, 'Home', 8)

In [6]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "M@psa#926",
    database = 'homework'
)

new_cursor = new_db.cursor()

new_cursor.execute("DROP TABLE orders")

new_db.commit()